EXEC dbo.CLRDemo '<?xml version="1.0"?>
<Report xmlns="http://schemas.microsoft.com/sqlserver/reporting/2005/01/reportdefinition" xmlns:rd="http://schemas.microsoft.com/SQLServer/reporting/reportdesigner">
  <DataSources>
    <DataSource Name="AdventureWorks">
      <DataSourceReference>AdventureWorks</DataSourceReference>
    </DataSource>
  </DataSources>
  <Body>
    <ReportItems>
      <Table Name="tblMain">
        <Details>
          <TableRows>
            <TableRow>
              <TableCells>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="t_0">
                      <Value>=Fields!ProductID.Value</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <TextAlign>Left</TextAlign>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="t_1">
                      <Value>=Fields!Name.Value</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="t_2">
                      <Value>=Fields!ProductNumber.Value</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="t_3">
                      <Value>=Fields!StandardCost.Value</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
              </TableCells>
              <Height>0.25in</Height>
            </TableRow>
          </TableRows>
        </Details>
        <TableColumns>
          <TableColumn>
            <Width>1in</Width>
            <FixedHeader>false</FixedHeader>
          </TableColumn>
          <TableColumn>
            <Width>2in</Width>
            <FixedHeader>false</FixedHeader>
          </TableColumn>
          <TableColumn>
            <Width>1in</Width>
            <FixedHeader>false</FixedHeader>
          </TableColumn>
          <TableColumn>
            <Width>1in</Width>
            <FixedHeader>false</FixedHeader>
          </TableColumn>
        </TableColumns>
        <Header>
          <TableRows>
            <TableRow>
              <TableCells>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="h_t_0">
                      <Value>ProductID</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <FontWeight>Bold</FontWeight>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="h_t_1">
                      <Value>Name</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <FontWeight>Bold</FontWeight>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="h_t_2">
                      <Value>Number</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <FontWeight>Bold</FontWeight>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="h_t_3">
                      <Value>Cost</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <FontWeight>Bold</FontWeight>
                        <TextAlign>Right</TextAlign>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
              </TableCells>
              <Height>0.25in</Height>
            </TableRow>
          </TableRows>
          <RepeatOnNewPage>true</RepeatOnNewPage>
        </Header>
        <Footer>
          <TableRows>
            <TableRow>
              <TableCells>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="f_t_0">
                      <Value />
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="f_t_1">
                      <Value />
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="f_t_2">
                      <Value />
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
                <TableCell>
                  <ReportItems>
                    <Textbox Name="f_t_3">
                      <Value>=SUM(Fields!StandardCost.Value)</Value>
                      <Style>
                        <BorderWidth>
                          <Default>1pt</Default>
                        </BorderWidth>
                        <FontWeight>Bold</FontWeight>
                        <TextAlign>Right</TextAlign>
                        <PaddingLeft>2pt</PaddingLeft>
                        <PaddingRight>2pt</PaddingRight>
                        <PaddingTop>2pt</PaddingTop>
                        <PaddingBottom>2pt</PaddingBottom>
                      </Style>
                      <Height>0.25in</Height>
                    </Textbox>
                  </ReportItems>
                </TableCell>
              </TableCells>
              <Height>0.25in</Height>
            </TableRow>
          </TableRows>
          <RepeatOnNewPage>false</RepeatOnNewPage>
        </Footer>
        <DataSetName>Main</DataSetName>
        <Style />
        <Top>0.5in</Top>
      </Table>
    </ReportItems>
    <Height>6.5in</Height>
  </Body>
  <DataSets>
    <DataSet Name="Main">
      <Fields>
        <Field Name="ProductID">
          <DataField>ProductID</DataField>
          <rd:TypeName>System.Int32</rd:TypeName>
        </Field>
        <Field Name="Name">
          <DataField>Name</DataField>
          <rd:TypeName>System.String</rd:TypeName>
        </Field>
        <Field Name="ProductNumber">
          <DataField>ProductNumber</DataField>
          <rd:TypeName>System.String</rd:TypeName>
        </Field>
        <Field Name="StandardCost">
          <DataField>StandardCost</DataField>
          <rd:TypeName>System.Double</rd:TypeName>
        </Field>
      </Fields>
      <Query>
        <rd:UseGenericDesigner>True</rd:UseGenericDesigner>
        <DataSourceName>AdventureWorks</DataSourceName>
        <CommandText>SELECT ProductID, Name, ProductNumber, StandardCost FROM Production.Product WHERE StandardCost &gt; 0 ORDER BY Name</CommandText>
        <Timeout>0</Timeout>
      </Query>
      <Collation />
    </DataSet>
  </DataSets>
  <LeftMargin>0.5in</LeftMargin>
  <BottomMargin>0.5in</BottomMargin>
  <RightMargin>0.5in</RightMargin>
  <TopMargin>0.5in</TopMargin>
  <Author>Teo Lachev</Author>
  <Width>6.5in</Width>
  <PageHeight>8in</PageHeight>
  <PageWidth>11in</PageWidth>
  <InteractiveHeight>8in</InteractiveHeight>
  <InteractiveWidth>11in</InteractiveWidth>
  <Language>en-US</Language>
</Report>'